/* =========================
   Google Fonts
   ========================= */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Courgette&display=swap");

/* Tailwind */
@import "tailwindcss";

/* =========================
   Base Styles
   ========================= */
body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-mono);
}

/* =========================
   Design Tokens
   ========================= */
:root {
  /* Brand colors */
  --blue-dark: #22379d;
  --blue-main: #3654d8;
  --white-soft: #f1f4f8;

  /* Light mode */
  --background: #ffffff;
  --foreground: #1f2937;

  /* UI neutrals */
  --muted: #64748b;
  --surface: #f5f7fc;

  /* Fonts */
  --font-sans:
    "Quicksand", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;

  --font-display: "Courgette", cursive;

  --font-mono:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* =========================
   Tailwind Theme Tokens
   ========================= */
@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--blue-main);
  --color-primary-dark: var(--blue-dark);
  --color-surface: var(--surface);
  --color-muted: var(--muted);

  /* Typography */
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-display: var(--font-display);
}

/* =========================
   Custom Utilities
   ========================= */
@utility container {
  @apply mx-auto px-2 sm:px-2 lg:px-4;
}

@utility font-display {
  font-family: var(--font-display);
}
