@import "tailwindcss";

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* =========================
   Brand Color Variables
   ========================= */
:root {
  /* Core brand colors */
  --blue-dark: #22379d;
  --blue-main: #3654d8;
  --white-soft: #f1f4f8;

  /* Light mode */
  --background: #ffffff;
  --foreground: #22379d;

  /* UI neutrals */
  --muted: #64748b;
  --surface: #f5f7fc;
}

/* =========================
   Tailwind Theme Tokens
   ========================= */
@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--blue-main);
  --color-primary-dark: var(--blue-dark);
  --color-surface: var(--surface);
  --color-muted: var(--muted);

  /* Typography */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility container {
  @apply mx-auto px-2 sm:px-2 lg:px-4;
}
